Bootstrap-Flask==1.2.0
bootstrap4==0.1.0
click==7.1.1
css==0.1
fanstatic==1.1
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
js==1.0
MarkupSafe==1.1.1
shutilwhich==1.1.0
WebOb==1.8.6
Werkzeug==1.0.1
