{% extends "layout.html" %}
{% block content %}
        <div class="flip-card" >
          <div class="flip-card-inner">
            <div class="flip-card-front home-front ">
              <h3 class="card-title text-center">Web Server</h3>
            </div>
            <div class="flip-card-back home-back">
                <p>What Is Web Server?</p>
                <p>How Web servers work?</p>
                <p>Important points</p>
                <a href="webserver" class="btn btn-primary">ppt</a>
            </div>
          </div>
        </div>
{% endblock content %}
